<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>surfacew</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2025BCB4-8E66-4555-B850-2F331F15493E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4742C30-52C6-4234-AB74-2B6B648119A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA6E426-CE49-4BCD-85EB-A8D37F170EF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFE8406B-F741-4BF2-8BF1-1AFA6869AB3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BA68372-74C7-43DC-8EFA-DCAF5FAE04E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C094004-E515-4FC0-BDC6-0D5466329D4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92643050-E060-484D-B7F0-3EA423E6D342</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C094004-E515-4FC0-BDC6-0D5466329D4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>surfacew</string>
	<key>description</key>
	<string>Make into Finder Much Faster</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finder Express Way</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>plan</string>
				<key>subtext</key>
				<string>choose one and open it :)</string>
				<key>text</key>
				<string>show plan file list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8BA68372-74C7-43DC-8EFA-DCAF5FAE04E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/SE Services/SE_TOP_Contents.md</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>DFE8406B-F741-4BF2-8BF1-1AFA6869AB3B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>se1</string>
				<key>subtext</key>
				<string>Enter Please</string>
				<key>text</key>
				<string>Open SE1 Top contents</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4CA6E426-CE49-4BCD-85EB-A8D37F170EF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>~/Documents/Plans</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>4C094004-E515-4FC0-BDC6-0D5466329D4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/SE Services</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F4742C30-52C6-4234-AB74-2B6B648119A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>92643050-E060-484D-B7F0-3EA423E6D342</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>se1_service</string>
				<key>subtext</key>
				<string>Enter Please</string>
				<key>text</key>
				<string>Open SE1 Service Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2025BCB4-8E66-4555-B850-2F331F15493E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This is a great way to view frequently used files in Finder.</string>
	<key>uidata</key>
	<dict>
		<key>2025BCB4-8E66-4555-B850-2F331F15493E</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>4C094004-E515-4FC0-BDC6-0D5466329D4A</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>4CA6E426-CE49-4BCD-85EB-A8D37F170EF8</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>8BA68372-74C7-43DC-8EFA-DCAF5FAE04E0</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>92643050-E060-484D-B7F0-3EA423E6D342</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>DFE8406B-F741-4BF2-8BF1-1AFA6869AB3B</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>F4742C30-52C6-4234-AB74-2B6B648119A6</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>blog.surfacew.com</string>
</dict>
</plist>
