<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>surfacew</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1125A7DE-7F56-4F79-87CD-F1BF5B349FC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A4672DC-2C06-4B9A-AC26-C001C3AAD2E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2025BCB4-8E66-4555-B850-2F331F15493E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4742C30-52C6-4234-AB74-2B6B648119A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA6E426-CE49-4BCD-85EB-A8D37F170EF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFE8406B-F741-4BF2-8BF1-1AFA6869AB3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58AEAF21-D16C-46F9-A2AE-2193F0ABBB99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1B1220-B905-4EA9-B070-73C16F8AB526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58AED5B5-E6C0-4C9B-9783-402C70CEC47B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>869CAB19-376A-46B9-BF6E-43F17E8894FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F24ECB6-46BC-4E19-AA05-DDC9B1893DA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB99B807-08A7-4288-8D95-3FD099225EC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>surfacew</string>
	<key>description</key>
	<string>Make into Finder Much Faster</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finder Express Way</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Sites/ali</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>6A4672DC-2C06-4B9A-AC26-C001C3AAD2E6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alicode</string>
				<key>subtext</key>
				<string>Enter Please</string>
				<key>text</key>
				<string>ali code dir</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1125A7DE-7F56-4F79-87CD-F1BF5B349FC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vision_doc</string>
				<key>subtext</key>
				<string>Enter Please</string>
				<key>text</key>
				<string>Vision Docs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58AED5B5-E6C0-4C9B-9783-402C70CEC47B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Sites/ali/vision/docs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>869CAB19-376A-46B9-BF6E-43F17E8894FC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Documents/Work/毕业设计</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>AC1B1220-B905-4EA9-B070-73C16F8AB526</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bs</string>
				<key>subtext</key>
				<string>Enter Please</string>
				<key>text</key>
				<string>Open Folder of 毕业设计</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58AEAF21-D16C-46F9-A2AE-2193F0ABBB99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Documents/Work/Ali</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>BB99B807-08A7-4288-8D95-3FD099225EC0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>aliwork</string>
				<key>subtext</key>
				<string>Enter Please</string>
				<key>text</key>
				<string>ali working dir</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6F24ECB6-46BC-4E19-AA05-DDC9B1893DA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>se1</string>
				<key>subtext</key>
				<string>Enter Please</string>
				<key>text</key>
				<string>Open SE1 Top contents</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4CA6E426-CE49-4BCD-85EB-A8D37F170EF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/SE Services/SE_TOP_Contents.md</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>DFE8406B-F741-4BF2-8BF1-1AFA6869AB3B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>se1_service</string>
				<key>subtext</key>
				<string>Enter Please</string>
				<key>text</key>
				<string>Open SE1 Service Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2025BCB4-8E66-4555-B850-2F331F15493E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/SE Services</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F4742C30-52C6-4234-AB74-2B6B648119A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This is a great way to view frequently used files in Finder.</string>
	<key>uidata</key>
	<dict>
		<key>1125A7DE-7F56-4F79-87CD-F1BF5B349FC4</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>2025BCB4-8E66-4555-B850-2F331F15493E</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>4CA6E426-CE49-4BCD-85EB-A8D37F170EF8</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>58AEAF21-D16C-46F9-A2AE-2193F0ABBB99</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>58AED5B5-E6C0-4C9B-9783-402C70CEC47B</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>6A4672DC-2C06-4B9A-AC26-C001C3AAD2E6</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>6F24ECB6-46BC-4E19-AA05-DDC9B1893DA7</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>869CAB19-376A-46B9-BF6E-43F17E8894FC</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>AC1B1220-B905-4EA9-B070-73C16F8AB526</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>BB99B807-08A7-4288-8D95-3FD099225EC0</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>DFE8406B-F741-4BF2-8BF1-1AFA6869AB3B</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>F4742C30-52C6-4234-AB74-2B6B648119A6</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>blog.surfacew.com</string>
</dict>
</plist>
