[user]
	name = SurfaceW
	email = yeqingnan@live.cn
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
[color]
	ui = auto
