[user]
	name = SurfaceW
	email = surfacew@163.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	autocrlf = input
	quotepath = false
[credential]
	helper = osxkeychain
[color]
	ui = auto
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
