<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tildeslash.relaunched</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>16342027-2858-4AC8-95D1-171E99F74434</key>
		<array/>
		<key>95A79D9B-8B3D-4FC7-B8F3-4FCD4B9BBE7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16342027-2858-4AC8-95D1-171E99F74434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tildeslash</string>
	<key>description</key>
	<string>Relaunch app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Relaunched</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "{query}" to quitdo shell script "afplay servo.m4a"
tell application "{query}" to activate
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16342027-2858-4AC8-95D1-171E99F74434</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>relaunch</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>set q to "{query}"
set xml to "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
tell application "System Events"
	if q = "" then
		set listOfProcesses to (name of every process where background only is false)
	else
		set listOfProcesses to (name of every process where background only is false and name starts with q)
	end if
end tell
if q = "" or "dock" starts with q then
	copy "Dock" to end of listOfProcesses
end if
repeat with p in listOfProcesses
	set xml to xml &amp; "&lt;item arg='" &amp; p &amp; "'&gt;&lt;title&gt;" &amp; p &amp; "&lt;/title&gt;&lt;icon type='fileicon'&gt;" &amp; POSIX path of (path to application p) &amp; "&lt;/icon&gt;&lt;/item&gt;"
end repeat
xml &amp; "&lt;/items&gt;"</string>
				<key>subtext</key>
				<string>Relaunch apps</string>
				<key>title</key>
				<string>Relaunch</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>95A79D9B-8B3D-4FC7-B8F3-4FCD4B9BBE7F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16342027-2858-4AC8-95D1-171E99F74434</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>95A79D9B-8B3D-4FC7-B8F3-4FCD4B9BBE7F</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>tildeslash.com</string>
</dict>
</plist>
