<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jp.co.metaphor.grep</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>01C6A690-AF4B-4A5C-9AF7-46AB565BCEAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4F0D474-9D6D-4244-8E67-BEF16EB7FABD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>31D8BFEA-C797-4125-95A4-DD2B63D5A53C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE0CAB59-FC44-48AF-8B21-75FBFFD1326F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ACF0C682-F940-416B-B2B4-2355F138A708</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>47F24CCA-A77C-42D6-BC75-954B984EA3E2</key>
		<array/>
		<key>636A3633-855A-404F-8021-7BDA9D8E1783</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E3C5D90-2E45-4300-9D3F-046F40CC0EB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>63AE698C-C691-4672-817A-FB07C6ED3625</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47F24CCA-A77C-42D6-BC75-954B984EA3E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7FE880A6-31C7-4478-871F-03884250AB1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6710A06-22D0-4B60-B21B-D98E090B9147</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9E3C5D90-2E45-4300-9D3F-046F40CC0EB9</key>
		<array/>
		<key>ACF0C682-F940-416B-B2B4-2355F138A708</key>
		<array/>
		<key>B7626B34-52FD-459A-8D66-B509E82D8EA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31D8BFEA-C797-4125-95A4-DD2B63D5A53C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FE0CAB59-FC44-48AF-8B21-75FBFFD1326F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCE1933A-FED2-4DE8-A4F4-8718C64473BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ichitaro Masuda</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>grep</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby scripts/actions.rb grep_with_last_query</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C4F0D474-9D6D-4244-8E67-BEF16EB7FABD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>01C6A690-AF4B-4A5C-9AF7-46AB565BCEAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>636A3633-855A-404F-8021-7BDA9D8E1783</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby scripts/find_next.rb next</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9E3C5D90-2E45-4300-9D3F-046F40CC0EB9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby scripts/find_next.rb prev</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47F24CCA-A77C-42D6-BC75-954B984EA3E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>63AE698C-C691-4672-817A-FB07C6ED3625</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>grep</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>7FE880A6-31C7-4478-871F-03884250AB1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby scripts/actions.rb grep_in_paths "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6710A06-22D0-4B60-B21B-D98E090B9147</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>grep</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BCE1933A-FED2-4DE8-A4F4-8718C64473BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby scripts/actions.rb filter_action "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE0CAB59-FC44-48AF-8B21-75FBFFD1326F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>grep</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>ruby scripts/filter.rb "{query}"</string>
				<key>title</key>
				<string>Find in Directory</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>31D8BFEA-C797-4125-95A4-DD2B63D5A53C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>grep</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B7626B34-52FD-459A-8D66-B509E82D8EA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby scripts/actions.rb filter_action "{query}" shift</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ACF0C682-F940-416B-B2B4-2355F138A708</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01C6A690-AF4B-4A5C-9AF7-46AB565BCEAA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>31D8BFEA-C797-4125-95A4-DD2B63D5A53C</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>47F24CCA-A77C-42D6-BC75-954B984EA3E2</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>636A3633-855A-404F-8021-7BDA9D8E1783</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>63AE698C-C691-4672-817A-FB07C6ED3625</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>7FE880A6-31C7-4478-871F-03884250AB1B</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>9E3C5D90-2E45-4300-9D3F-046F40CC0EB9</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>ACF0C682-F940-416B-B2B4-2355F138A708</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>B6710A06-22D0-4B60-B21B-D98E090B9147</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>B7626B34-52FD-459A-8D66-B509E82D8EA9</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>BCE1933A-FED2-4DE8-A4F4-8718C64473BD</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>C4F0D474-9D6D-4244-8E67-BEF16EB7FABD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FE0CAB59-FC44-48AF-8B21-75FBFFD1326F</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ichitaro/alfred-grep</string>
</dict>
</plist>
