<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>195D2594-E03C-4A41-876F-1CC98EE4F4F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>404F851E-732E-4DA9-9E84-B65D0C1D780B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>614DFF00-ACEB-489C-BE83-7191FAEBF870</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>501E782B-1BFF-4184-BD50-1FFA84C3CC3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7180495E-BBF3-431E-958A-1218CFCE5242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BD5D520-2026-4133-9FD2-EA8678777A62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>surfacew</string>
	<key>description</key>
	<string>Quickly do the repeated affairs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QuickDo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>chrome://extensions</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>501E782B-1BFF-4184-BD50-1FFA84C3CC3C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.extension</string>
				<key>subtext</key>
				<string>Open extensions in Chrome</string>
				<key>text</key>
				<string>Chrome Extension</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>614DFF00-ACEB-489C-BE83-7191FAEBF870</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.weather</string>
				<key>subtext</key>
				<string>Open the weather in Baidu</string>
				<key>text</key>
				<string>Check the weather</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>195D2594-E03C-4A41-876F-1CC98EE4F4F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://www.baidu.com/s?wd=天气</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>404F851E-732E-4DA9-9E84-B65D0C1D780B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://www.baidu.com/s?wd=日历</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9BD5D520-2026-4133-9FD2-EA8678777A62</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.calendar</string>
				<key>subtext</key>
				<string>Open the calendar in Baidu</string>
				<key>text</key>
				<string>Check the calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7180495E-BBF3-431E-958A-1218CFCE5242</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quickly Do it!</string>
	<key>uidata</key>
	<dict>
		<key>195D2594-E03C-4A41-876F-1CC98EE4F4F6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>404F851E-732E-4DA9-9E84-B65D0C1D780B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>501E782B-1BFF-4184-BD50-1FFA84C3CC3C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>614DFF00-ACEB-489C-BE83-7191FAEBF870</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7180495E-BBF3-431E-958A-1218CFCE5242</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9BD5D520-2026-4133-9FD2-EA8678777A62</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>blog.surfacew.com</string>
</dict>
</plist>
