<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.surfacew.alibabaSeries</string>
	<key>connections</key>
	<dict>
		<key>F569C3E6-F903-4CE1-80D6-3152189832CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B81BA87-0D13-4EF4-B373-A5C038D11B8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2282E5A-C45F-4514-998B-5C3C1715FF94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>SurfaceW</string>
	<key>description</key>
	<string>About ali express ways</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alibaba Series</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>work report</string>
				<key>subtext</key>
				<string>Go and write your work-report</string>
				<key>text</key>
				<string>Go to weekly work report</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://work.alibaba-inc.com/work/sns/workreportModify#!rep/modify/send</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E2282E5A-C45F-4514-998B-5C3C1715FF94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://webmail.alibaba-inc.com/alimail/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8B81BA87-0D13-4EF4-B373-A5C038D11B8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ali mail</string>
				<key>subtext</key>
				<string>Go and read / write your email through alimail</string>
				<key>text</key>
				<string>Go to alimail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F569C3E6-F903-4CE1-80D6-3152189832CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by the Alfred team!</string>
	<key>uidata</key>
	<dict>
		<key>8B81BA87-0D13-4EF4-B373-A5C038D11B8E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>E2282E5A-C45F-4514-998B-5C3C1715FF94</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>F569C3E6-F903-4CE1-80D6-3152189832CE</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://www.alfredapp.com</string>
</dict>
</plist>
