<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scope</key>
	<array>
		<string>/Applications</string>
		<string>~/Desktop</string>
		<string>~/Developer</string>
		<string>~/Documents/Frame</string>
		<string>~/Documents/Knowledge</string>
		<string>~/Documents/Life</string>
		<string>~/Documents/Reference</string>
		<string>~/Documents/Track</string>
		<string>~/Documents/Work</string>
		<string>~/Downloads</string>
		<string>~/Movies</string>
		<string>~/Music</string>
		<string>~/Pictures</string>
	</array>
</dict>
</plist>
