<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scope</key>
	<array>
		<string>/Applications</string>
		<string>~/Applications</string>
		<string>~/Desktop</string>
		<string>~/Developer/dotfiles</string>
		<string>~/Documents</string>
		<string>~/Downloads</string>
		<string>~/Library/Caches/Metadata</string>
		<string>~/Library/Mobile Documents</string>
		<string>~/Movies</string>
		<string>~/Music</string>
		<string>~/Pictures</string>
	</array>
</dict>
</plist>
