<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fspinillo.alfredv2.imdb</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>E5D59DA3-E94A-4800-A8A7-29DCE4270FD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C8D6D67-23C1-4FED-920C-68668B11CC1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fspnillo</string>
	<key>description</key>
	<string>Search IMDB for a movie</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IMDB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5C8D6D67-23C1-4FED-920C-68668B11CC1E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>imdb</string>
				<key>runningsubtext</key>
				<string>Searching for movies...</string>
				<key>script</key>
				<string>python imdb.py "{query}"</string>
				<key>title</key>
				<string>Enter a movie title</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E5D59DA3-E94A-4800-A8A7-29DCE4270FD1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5C8D6D67-23C1-4FED-920C-68668B11CC1E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E5D59DA3-E94A-4800-A8A7-29DCE4270FD1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/fspinillo</string>
</dict>
</plist>
